@mixin font {
  text-align: center;
  color: #fff;
  font: {
    family: 'PingFang SC', 'Helvetica Neue', Helvetica, Arial, "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", \5fae\8f6f\96c5\9ed1, "WenQuanYi Micro Hei", \5b8b\4f53, sans-serif;
    weight: 300;
  }
};
@mixin init-background-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-pane {
  text-align: center;

  .title {
    @include font;
    width: 100%;
    font-size: 1.25rem;
    height: 4rem;
    line-height: 4rem;
  }

  .origin-label {
    width: 100%;
    margin-top: 1rem;
    text-align: center;

    .img-block {
      display: inline-block;
      width: 8rem;
      height: 8rem;
      background: #fff;
      @include init-background-img
    }

    .icon {
      display: inline-block;
      width: 4rem;
      height: 8rem;

      &.plus {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        background-image: url('../images/icon/style/plus.png');
      }
    }
  }

  .btn {
    width: 8rem;

    &.option {
      height: 2.5rem;
      background: #4abdc2;
      display: inline-block;
      margin-top: 3rem;
      border-radius: .3rem;
      line-height: 2.5rem;
      @include font;
      font-size: .8rem;
    }
  }

  .info-bar {
    width: 100%;
    margin-top: 1rem;
    height: 1rem;
    @include font;
    font-size: .8rem;
  }

  .btn {
    width: 8rem;
    display: inline-block;
    position: relative;

    i {
      display: block;
      background-position: center;
      background-image: url('../images/icon/style/home_page.png');
      background-repeat: no-repeat;
      background-size: 1.3rem;
      width: 100%;
      height: 2.5rem;
      margin-top: .5rem;
    }

    &.go-home {
      margin-top: 2rem;
      height: 5rem;
      background: #55585A;
      border-radius: .3rem;
      @include font;

    }
  }
}