@import "img-process-base";

@mixin init-background-img {
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: center;
}
@mixin font {
  text-align: center;
  color: #fff;
  font: {
    family: 'PingFang SC', 'Helvetica Neue', Helvetica, Arial, "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", \5fae\8f6f\96c5\9ed1, "WenQuanYi Micro Hei", \5b8b\4f53, sans-serif;
    weight: 300;
  }
};
.main-pane {
  .head-nav {
    display: flex;
    flex: {
      direction: row;
      wrap: nowrap;
    }
    justify-content: space-around;

    .btn {
      display: inline-block;

      &.icon-back {
        flex: {
          grow: 1;
        };
        @include init-background-img;
        background-image: url('../images/icon/style/back.png');
      }

      &.icon-undo {
        flex: {
          grow: 1;
        };
        @include init-background-img;
        background-image: url('../images/icon/style/undo.png');
      }

      &.icon-redo {
        flex: {
          grow: 1;
        };
        @include init-background-img;
        background-image: url('../images/icon/style/redo.png');


      }

      &.icon-clear {
        flex: {
          grow: 1;
        };
        @include init-background-img;
        background-image: url('../images/icon/style/refresh.png');
      }

      &.icon-save {
        flex: {
          grow: 1;
        };
        @include init-background-img;
        background-image: url('../images/icon/style/save.png');
      }
    }
  }

  .foot-nav {
    position: absolute;
    width: 100%;
    height: 3.3rem;
    left: 0;
    bottom: 0;
    //z-index: 999;
    display: flex;
    justify-content: space-around;
    flex: {
      direction: row;
      wrap: nowrap;
    }
    background: #282826;

    .btn {
      display: inline-block;
      @include font;
      font-size: .75rem;
      color: #A7A7A7 ;

      i {
        display: block;
        width: 3rem;
        height: 1.5rem;
        position: absolute;
        top: .5rem;
        margin: auto;
        background-size: 1.2rem;
      }

      label {
        display: block;
        width: 3rem;
        height: 1.2rem;
        position: absolute;
        top: 2rem;
        margin: auto;
      }

      &.icon-adjust {
        i{
          @include init-background-img;
          background-image: url('../images/icon/style/adjust.png');
          right: 1rem;
        }
        label {
          right: 1rem;
        }
      }
      &.icon-crop {

        i {
          @include init-background-img;
          background-image: url('../images/icon/style/cut.png');
          left: 0;
          right: 0;
        }
        label {
          left: 0;
          right: 0;
        }

      }
      &.icon-paint {
        i{
          @include init-background-img;
          background-image: url('../images/icon/style/apply.png');
          left: 1rem;
        }
        label {
          left: 1rem;
        }
      }
    }
  }
}

.style-process-pane {
  top: 1rem;
  position: absolute;
  width: 100%;
  height: calc( 100% - 1rem) !important;
  overflow: hidden;
  left: 0;
  background: #171717;

  .image-label {
    width: 100%;
    height: calc( 100% - 5.25rem);
    position: relative;

    .mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      overflow: hidden;

      > div {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
      }
      img {
        width: inherit;
        height: inherit;
      }
    }
  }

  .tool-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 5.25rem;


    .option {
      width: 100%;
      height: 2.125rem;
      text-align: center;
      line-height: 2.125rem;
      padding-bottom: .6rem;
      @include font;

      span {
        font-size: 1rem;
        display: inline-block;
        height: 2rem;
        line-height: 1.7rem;
        margin: 0 2rem;
        position: relative;
        vertical-align: middle;
      }

      .switch {
        width: 4rem;
        color: #171717;

        .switch-btn {
          width: 2.5rem;
          border: 1px solid #171717;
          background: #fff;
          border-radius: 1rem;
          position: absolute;
          transition: all 0.2s cubic-bezier(.35,-0.59,.64,1.53);
          left: 0;
          top: 0;
          bottom: 0;
          margin: 0;
          z-index: 1;
        }

        .switch-road {
          height: 1rem;
          width: 4rem;
          position: absolute;
          border: 1px solid #fff;
          border-radius: 1rem;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          z-index: 0;
        }
      }

      .crop-select {
        display: flex;
        flex: {
          direction: row;
          wrap: nowrap;
        };
        justify-content: space-around;

        li {
          display: inline-block;
          width: 5rem;

          &:nth-child(1) i{
            width: 1rem;
            height: 1rem;
          }

          &:nth-child(2) i{
            width: 1.4rem;
            height: .7rem;
          }

          &:nth-child(3) i{
            width: .9rem;
            height: 1.2rem;
          }

          &:nth-child(4) i{
            width: .9rem;
            height: 1.5rem;
          }
          &:nth-child(5) i{
            width: 1.5rem;
            height: .9rem;
          }
        }

        span {
          display: inline-block;
          vertical-align: middle;
          margin: 0;
          line-height: 2rem;
          width: 2rem;
          height: 2rem;
        }

        i {
          display: inline-block;
          vertical-align: middle;
          border-radius: .2rem;
          border: 1px solid #fff;
        }
      }


    }

    .menu {
      width: 100%;
      height: 2.525rem;
      display: flex;
      background: #282826;

      flex:{
        direction: row;
      }

      justify-content: space-between;

      .forward {
        @include init-background-img;
        background-image: url("../images/icon/style/forward.png");
        flex: {
          grow: 1;
        };
      }

      .title {
        @include font;
        text-align: center;
        line-height: 3.125rem;
        font-size: 1rem;
        flex: {
          grow: 3;
        };
      }

      .check {
        @include init-background-img;
        background-image: url("../images/icon/style/check.png");
        flex: {
          grow: 1;
        };
      }
    }
  }

  .crop-pane {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 10rem;
    left: 5rem;
    border: 1px solid rgba(225,225,225,1);
    background:{
      image:
      linear-gradient(90deg, rgba(225,225,225,.5) 1px,  transparent 0),
      linear-gradient( rgba(225,225,225,.5) 1px,  transparent 0);
      size: 35%;
      position: 50%;
    };

    section {
      width: 1rem;
      height: 1rem;
      position: absolute;

      &:nth-child(1) {
        top: 0;
        left: 0;
        border: {
          left: 2px solid rgba(225,225,225,1);
          top: 2px solid rgba(225,225,225,1);
        };
      }

      &:nth-child(2) {
        right: 0;
        top: 0;
        border: {
          right: 2px solid rgba(225,225,225,1);
          top: 2px solid rgba(225,225,225,1);
        };
      }

      &:nth-child(3) {
        right: 0;
        bottom: 0;
        border: {
          right: 2px solid rgba(225,225,225,1);
          bottom: 2px solid rgba(225,225,225,1);
        };
      }

      &:nth-child(4) {
        left: 0;
        bottom: 0;
        border: {
          left: 2px solid rgba(225,225,225,1);
          bottom: 2px solid rgba(225,225,225,1);
        };
      }
    }
  }
}


//animation
.pane-appear {
  transform: translateX(100%);

  &.pane-appear-active {
    transform: translateX(0);
    transition: all .4s linear;
  }
}

.pane-leave {
  transform: translateX(0);
  &.pane-leave-active {
    transform: translateX(100%);
    transition: all .4s linear;
  }
}
