@import "img-process-base";

@mixin init-background-img {
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: center ;
}
@mixin font {
  text-align: center;
  color: #fff;
  font: {
    family: 'PingFang SC', 'Helvetica Neue', Helvetica, Arial, "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", \5fae\8f6f\96c5\9ed1, "WenQuanYi Micro Hei", \5b8b\4f53, sans-serif;
    weight: 300;
  }
};
@mixin footNavBtn {
  flex: {
    grow: 1;
    shrink: 1;
  };
  height: .5rem;
}

.main-pane {
  .head-nav {

    .btn {
      &.icon-back {
        @include init-background-img;
        background-image: url('../images/icon/style/back.png');
      }

      &.icon-undo {
        @include init-background-img;
        background-image: url('../images/icon/style/undo.png');
      }

      &.icon-redo {
        @include init-background-img;
        background-image: url('../images/icon/style/redo.png');
      }

      &.icon-clear {
        @include init-background-img;
        background-image: url('../images/icon/style/refresh.png');
      }

      &.icon-save {
        @include init-background-img;
        background-image: url('../images/icon/style/save.png');
      }
    }
  }

  .foot-nav {
    background: #282826;

    .btn {
      @include font;
      font-size: .75rem;
      color: #A7A7A7 ;

      section {
        &:nth-child(1) {
          flex: {
            grow: 1;
            shrink: 1;
          };
          height: .5rem;
        }

        &:nth-child(2) {
          flex: {
            grow: 1;
            shrink: 1;
          };
          height: .5rem;
        }
      }


      &.icon-adjust {
        section {
          &:nth-child(1) {
            @include init-background-img;
            background-image: url('../images/icon/style/adjust.png');
            background-position: bottom;
          }
        }
      }

      &.icon-crop {
        section {
          &:nth-child(1) {
            @include init-background-img;
            background-image: url('../images/icon/style/cut.png');
            background-position: bottom;
          }
        }
      }

      &.icon-paint {
        section {
          &:nth-child(1) {
            @include init-background-img;
            background-image: url('../images/icon/style/apply.png');
            background-position: bottom;
          }
        }
      }
    }
  }
}

.style-process-pane {
  top: 1rem;
  position: absolute;
  width: 100%;
  height: calc( 100% - 1rem) !important;
  overflow: hidden;
  left: 0;
  background: #171717;

  .image-label {
    width: 100%;
    height: calc( 100% - 5.25rem);
    position: relative;

    .mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      overflow: hidden;

      > div {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
      }
      img {
        width: inherit;
        height: inherit;
      }
    }
  }

  .tool-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 5.25rem;


    .option {
      width: 100%;
      height: 2.125rem;
      text-align: center;
      line-height: 2rem;
      padding-bottom: .6rem;
      @include font;

      span {
        font-size: 1rem;
        display: inline-block;
        height: 2rem;
        line-height: 1.7rem;
        margin: 0 2rem;
        position: relative;
        vertical-align: middle;
      }

      .switch {
        width: 4rem;
        color: #171717;

        .switch-btn {
          width: 2.5rem;
          border: 1px solid #171717;
          background: #fff;
          border-radius: 1rem;
          position: absolute;
          transition: all 0.2s cubic-bezier(.35,-0.59,.64,1.53);
          left: 0;
          top: 0;
          bottom: 0;
          margin: 0;
          z-index: 1;
        }

        .switch-road {
          height: 1rem;
          width: 4rem;
          position: absolute;
          border: 1px solid #fff;
          border-radius: 1rem;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          z-index: 0;
        }
      }

      .crop-select {
        display: flex;
        flex: {
          direction: row;
          wrap: nowrap;
        };
        justify-content: space-around;

        li {
          display: inline-block;
          width: 5rem;

          &:nth-child(1) i{
            width: 1rem;
            height: 1rem;
          }

          &:nth-child(2) i{
            width: 1.2rem;
            height: .6rem;
          }

          &:nth-child(3) i{
            width: .9rem;
            height: 1.2rem;
          }

          &:nth-child(4) i{
            width: .9rem;
            height: 1.5rem;
          }
          &:nth-child(5) i{
            width: 1.5rem;
            height: .9rem;
          }

          &.choice {
            i {
              border-color: #53CEC7 ;
            }

            span {

            }
            color: #53CEC7 ;
          }
        }

        span {
          display: inline-block;
          vertical-align: middle;
          margin: 0;
          line-height: 2rem;
          width: 2rem;
          height: 2rem;
        }

        i {
          display: inline-block;
          vertical-align: middle;
          border-radius: .2rem;
          border: 1px solid #fff;
        }
      }


    }

    .menu {
      width: 100%;
      height: 2.525rem;
      display: flex;
      background: #282826;

      flex:{
        direction: row;
      }

      justify-content: space-between;

      .forward {
        @include init-background-img;
        background-image: url("../images/icon/style/forward.png");
        flex: {
          grow: 1;
        };
      }

      .title {
        @include font;
        text-align: center;
        line-height: 2.525rem;
        font-size: 1rem;
        flex: {
          grow: 3;
        };
      }

      .check {
        @include init-background-img;
        background-size: 1.2rem;
        background-image: url("../images/icon/style/check.png");
        flex: {
          grow: 1;
        };
      }
    }
  }

  .crop-pane {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 10rem;
    left: 5rem;
    border: 1px solid rgba(225,225,225,1);
    background:{
      image:
      linear-gradient(90deg, rgba(225,225,225,.5) 1px,  transparent 0),
      linear-gradient( rgba(225,225,225,.5) 1px,  transparent 0);
      size: 35%;
      position: 50%;
    };
    outline: 100rem solid rgba(0,0,0,.6);
    box-sizing: border-box;

    section {
      width: 0;
      height: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      border: {
        right: 0rem solid rgba(225,225,225,.5);
        bottom: 0rem solid rgba(225,225,225,.5);
        top: 0rem solid transparent;
        left: 0rem solid transparent;
      };
    }

    &.animation {
      transition: all .3s ease;
    }
  }

  .masker-pane {
    canvas {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: inherit;
      height: inherit;
    }
  }

  .masker-tool {
    overflow: visible;

    .option {
      display: flex;
      flex: {
        direction: row;
        wrap: nowrap;
      };
      justify-content: space-between;
      > div {
        display: inline-block;
        position: relative;

        &:nth-child(1){
          flex: {
            grow: 2;
          };
        };
        &:nth-child(3) {
          flex: {
            grow: 2;
          };
        };
        &:nth-child(2) {
          flex: {
            grow: 6;
          };

          ul{
            height: 2rem;
            position: relative;
            line-height: 2rem;

            li {
              border:1px solid #fff;
              border-radius: 2rem;
              margin: auto;
              display: inline-block;
              vertical-align: middle;

              &.c1 {
                width: 1.4rem;
                height: 1.4rem;
              }

              &.l {
                width: .4rem;
                height: 0;
              }

              &.c2 {
                width: 1.6rem;
                height: 1.6rem;
              }


              &.c3 {
                width: 1.8rem;
                height: 1.8rem;
              }

              &.animated {
                animation-duration: .3s;
                animation-fill-mode: both;
              }

              &.rubberBand {
                box-shadow: 0 0 20px #24C4C9 ;
              }
            }
          }
        }
      }

      .flux {

        margin-left: 1rem;

        .label{
          height: 1rem;
          text-align: center;
          line-height: 1rem;

          span {
            vertical-align: middle;
            font-size: .8rem;
            display: inline-block;
            margin: 0;
            height: inherit;
            line-height: 1rem;

            &:nth-child(1) {
              width: 5rem;
              text-align: end;
            }

            &:nth-child(2) {
              text-align: start;
              width: 2.4rem;
            }
          }
        }

        .select {
          position: relative;
          line-height: 1rem;
          height: 1rem;

          div {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            background: #fff;
            border-radius: 1rem;

            &.road{
              left: 0;
              right: 0;
              border-radius: 1rem;
              outline: #fff solid 1px;
              height: 0;
              line-height: 0;
              width: 80%;
            }

            &.btn {
              width: 1rem;
              height: 1rem;
              background: #fff;
              border-radius: 1rem;
              z-index: 999;
            }

          }
        }

        .selected {
          color: #24C4C9;

        }
      }

    }
  }
}


//animation
.pane-appear {
  transform: translateX(100%);

  &.pane-appear-active {
    transform: translateX(0);
    transition: all .4s linear;
  }
}

.pane-leave {
  transform: translateX(0);
  &.pane-leave-active {
    transform: translateX(100%);
    transition: all .4s linear;
  }
}


@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  animation-name: rubberBand;
}